<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="Configuration" type="AISRS.Common.Framework.Configuration, Common" />
  </configSections>
  <appSettings />
  <connectionStrings />
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <identity impersonate="false" />
  </system.web>
  <Configuration>
    <add key="Framework.SystemState.OnUpdating" value="False" />
    <add key="Framework.Common.UpdateMessagePage" value="UpdateMessage.aspx" />
    <!-- Event log settings -->
    <add key="Framework.EventLog.Enabled" value="True" />
    <add key="Framework.EventLog.FileName" value="Log\Log.txt" />
    <!-- Use the standard LogLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
    <add key="Framework.EventLog.LogLevel" value="3" />
    <!-- The max length of log file -->
    <add key="Framework.EventLog.LogFileMaxLength" value="1000000" />
    <!-- Database connection string -->
    <add key="Framework.DataAccess.ConnectionString" value="Data Source=DESKTOP-EN4Q4FU;Initial Catalog=AIStock;User ID=sa;Password=qaz123$%" />
    <add key="Framework.DataAccess.ConnectionStringSoftware" value="Data Source=CNPEK01415;Initial Catalog=CatAudit;User ID=sa;Password=" />
    <add key="Framework.DataAccess.ConnectionStringChinese" value="Data Source=CNPEK01415;Initial Catalog=win7test;User ID=sa;Password=" />
    <add key="Framework.DataAccess.ConnectionStringSBSSCD" value="Data Source=CNPEK01563;Initial Catalog=SBSSCD;User ID=SCD_Reader;Password=" />
    <!--
    <add key="Framework.DataAccess.ConnectionString" value="registry:SDI1.0" />
    -->
    <!-- 域帐号 测试用z0038d3v-e01-->
    <add key="Framework.SystemSetting.SystemNtAccount" value="z0038d3v-e01" />
    <!-- URL Root -->
    <add key="Framework.Common.UrlRoot" value="http://localhost:8099/StockWeb" />
    <!-- 预定义的显示给用户的友好错误信息,便于修改 -->
    <add key="Exception.CommonException.Default" value="System error occurs, contact your administrator!" />
    <add key="Exception.PermissionException.Default" value="You do not have permission to use this feature!" />
    <add key="Exception.ValidationException.Default" value="Incoming parameters illegally!" />
    <add key="Exception.DbDataException.Default" value="Illegal data exists in the database!" />
    <add key="Exception.DbOperationException.Default" value="Database error!" />
  </Configuration>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>